__pycache__/
.pyarmor/
build/
*.egg-info/
*.so
*.exe
*.b64
*.tmp
*.tmp.*
*.mp4
*.aac
*.wav
*.mp3
*.m4a
*.avi
*.mov
.env
.venv/
venv/
venv_musetalk/
.cache/
.downloads/
.hf_cache/
.tmp/
logs/
outputs/
streamout/
chat_history/

tmp*
temp*
trial*/
torchaudio.functional.resample
utils.app_root.app_root()

data
data_utils/face_tracking/3DMM/*
data_utils/face_parsing/79999_iter.pth

pretrained
*.pth
*.pt
*.ckpt
*.safetensors
*.onnx
*.engine
*.bin
*.pkl
*.npy
*.npz
*.mp4
.DS_Store
workspace/log_ngp.txt
.idea
models/
*.log
dist
gfpgan/weights/
avatars/wav2lip/face_detection/detection/sfd/*.pth
